{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.html.twig' %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% set entityClass = 'Teachers\\Bundle\\InvoiceBundle\\Entity\\Payment' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName }}
    <% var template = (verb == 'create')
    ? {{ 'teachers.payment.activity_item.created_by'|trans|json_encode|raw }}
    : {{ 'teachers.payment.activity_item.updated_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
    user: owner_url ? '<a class="user" href="' + owner_url + '">' + _.escape(owner) + '</a>' :  '<span class="user">' + _.escape(owner) + '</span>',
    date: '<i class="date">' + createdAt + '</i>',
    editor: editor_url ? '<a class="user" href="' + editor_url + '">' + _.escape(editor) + '</a>' : _.escape(editor),
    editor_date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityShortMessage %}
    <% if (!_.isUndefined(data.statusId) && data.statusId) { %>
    <div class="activity-short-message">
        <% if (data.statusId === 'partially_refunded') { %>
        <div class="badge badge-pill badge-tentatively status-tentatively">
            <span class="icon-status-tentatively fa-circle" aria-hidden="true"></span>
            <%- data.statusName %>
        </div>
        <% } %>
        <% if (data.statusId === 'fully_refunded') { %>
        <div class="badge badge-pill badge-danger status-danger">
            <span class="icon-status-danger fa-circle" aria-hidden="true"></span>
            <%- data.statusName %>
        </div>
        <% } %>
    </div>
    <% } %>
    {{ parent() }}
{% endblock %}

{% block activityActions %}
    {% import 'OroActivityBundle::macros.html.twig' as AC %}

    {% set action %}
        <a href="<%= routing.generate('teachers_payment_view', {'id': relatedActivityId}) %>"
           class="dropdown-item"
           title="{{ 'teachers.payment.view_payment'|trans({'{{ entity }}': entityName}) }}"><span
                    class="fa-eye hide-text"
                    aria-hidden="true">{{ 'teachers.payment.view_payment'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'teachers.payment.view_payment'|trans({'{{ entity }}': entityName}) }}
        </a>
    {% endset %}
    {% set actions = [action] %}

    {{ parent() }}
{% endblock %}
