{% if bids|length > 0 %}
    {% for bid in bids %}
        <div class="bid-widget-row {{ bid.dueDateExpired ? 'bid-expired' : '' }} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}"
            data-url="{{ path("teachers_bid_view", {'id':bid.id}) }}">
        </div>
    {% endfor %}
{% else %}
    <p class="no_bids">
        {{ "teachers.bid.assigned_bids_widget.no_bid_exist"|trans }}
    </p>
{% endif %}
