{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true, 'oronote/js/app/components/note-context-component') }}
            </div>
            {{ ui.renderProperty('teachers.invoice.amountOwed.label'|trans, entity.invoice.amountOwed) }}
            {{ ui.renderProperty('teachers.invoice.amountPaid.label'|trans, entity.amountPaid) }}
            {{ ui.renderProperty('teachers.invoice.amountRemaining.label'|trans, entity.invoice.amountRemaining) }}
            {{ ui.renderProperty('teachers.invoice.student.label'|trans, entity.invoice.student) }}
            {{ ui.renderProperty('teachers.invoice.assignment.label'|trans, entity.invoice.assignment.courseName) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
