{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true, 'oronote/js/app/components/note-context-component') }}
            </div>
            {% if entity.invoice %}
                {{ ui.renderAttribute('teachers.invoice.entity_label'|trans, ui.link({
                    'path': path('teachers_invoice_view', { entityClass: oro_class_name(entity.invoice, true), id: entity.invoice.id }),
                    'iCss': 'fa-file',
                    'aCss': 'link-icon-need-space',
                    'title': entity.invoice.id,
                    'label': entity.invoice.id
                })) }}
            {% endif %}
            {% if entity.invoice and entity.invoice.assignment %}
                {{ ui.renderAttribute('teachers.assignment.entity_label'|trans, ui.link({
                    'path': path('teachers_assignment_view', { entityClass: oro_class_name(entity.invoice.assignment, true), id: entity.invoice.assignment.id }),
                    'iCss': 'fa-clipboard',
                    'aCss': 'link-icon-need-space',
                    'title': entity.invoice.assignment.courseName,
                    'label': entity.invoice.assignment.courseName
                })) }}
            {% endif %}
            {{ ui.renderProperty('teachers.invoice.amountOwed.label'|trans, '$' ~ entity.invoice.amountOwed|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountPaid.label'|trans, '$' ~ entity.amountPaid|number_format(2)) }}
            {{ ui.renderProperty('teachers.payment.amountRefunded.label'|trans, '$' ~ entity.amountRefunded|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountRemaining.label'|trans, '$' ~ entity.invoice.amountRemaining|number_format(2)) }}

            {% if entity.invoice.student %}
                {{ ui.renderAttribute('teachers.invoice.student.label'|trans, ui.link({
                    'path': path('oro_user_view', { entityClass: oro_class_name(entity.invoice.student, true), id: entity.invoice.student.id }),
                    'iCss': 'fa-users',
                    'aCss': 'link-icon-need-space',
                    'title': entity.invoice.student.fullName,
                    'label': entity.invoice.student.fullName
                })) }}
            {% endif %}
            {% if entity.invoice.studentAccount %}
                {{ ui.renderAttribute('teachers.invoice.studentAccount.label'|trans, ui.link({
                    'path': path('oro_account_view', { entityClass: oro_class_name(entity.invoice.studentAccount, true), id: entity.invoice.studentAccount.id }),
                    'iCss': 'fa-suitcase',
                    'aCss': 'link-icon-need-space',
                    'title': entity.invoice.studentAccount.name,
                    'label': entity.invoice.studentAccount.name
                })) }}
            {% endif %}
            {% if entity.invoice.studentContact %}
                {{ ui.renderAttribute('teachers.invoice.studentContact.label'|trans, ui.link({
                    'path': path('oro_contact_view', { entityClass: oro_class_name(entity.invoice.studentContact, true), id: entity.invoice.studentContact.id }),
                    'iCss': 'fa-users',
                    'aCss': 'link-icon-need-space',
                    'title': entity.invoice.studentContact.lastName ~ ' ' ~ entity.invoice.studentContact.firstName,
                    'label': entity.invoice.studentContact.lastName ~ ' ' ~ entity.invoice.studentContact.firstName
                })) }}
            {% endif %}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
