{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('teachers.application.subject.label'|trans, entity.subject) }}
            {{ ui.renderProperty('teachers.application.description.label'|trans, entity.description) }}
            {{ ui.renderProperty('teachers.application.studentLoginInfo.label'|trans, entity.studentLoginInfo) }}
            {{ ui.renderProperty('teachers.application.price.label'|trans, entity.price) }}
            {{ ui.renderProperty('teachers.application.status.label'|trans, entity.status) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
