{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true, 'oronote/js/app/components/note-context-component') }}
            </div>
            {% if entity.assignment %}
                {{ ui.renderAttribute('teachers.assignment.entity_label'|trans, ui.link({
                    'path': path('teachers_assignment_view', { entityClass: oro_class_name(entity.assignment, true), id: entity.assignment.id }),
                    'iCss': 'fa-clipboard',
                    'aCss': 'link-icon-need-space',
                    'title': entity.assignment.courseName,
                    'label': entity.assignment.courseName
                })) }}
            {% endif %}
            {{ ui.renderProperty('teachers.invoice.amountOwed.label'|trans, '$' ~ entity.amountOwed|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountPaid.label'|trans, '$' ~ entity.amountPaid|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountRemaining.label'|trans, '$' ~ entity.amountRemaining|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.student.label'|trans, entity.student) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
