{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true, 'oronote/js/app/components/note-context-component') }}
            </div>
            {% if entity.assignment %}
                {{ ui.renderAttribute('teachers.assignment.entity_label'|trans, ui.link({
                    'path': path('teachers_assignment_view', { entityClass: oro_class_name(entity.assignment, true), id: entity.assignment.id }),
                    'iCss': 'fa-clipboard',
                    'aCss': 'link-icon-need-space',
                    'title': entity.assignment.courseName,
                    'label': entity.assignment.courseName
                })) }}
            {% endif %}
            {{ ui.renderProperty('teachers.invoice.rep.label'|trans, '#' ~ entity.rep) }}
            {{ ui.renderProperty('teachers.invoice.orderNumber.label'|trans, '#' ~ entity.assignment.id) }}
            {{ ui.renderProperty('teachers.invoice.due_date.label'|trans, entity.dueDate|date('F j, Y, g:i A')) }}
            {{ ui.renderProperty('teachers.invoice.amountOwed.label'|trans, '$' ~ entity.amountOwed|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountPaid.label'|trans, '$' ~ entity.amountPaid|number_format(2)) }}
            {{ ui.renderProperty('teachers.invoice.amountRemaining.label'|trans, '$' ~ entity.amountRemaining|number_format(2)) }}
            {% if entity.student %}
                {{ ui.renderAttribute('teachers.invoice.student.label'|trans, ui.link({
                    'path': path('oro_user_view', { entityClass: oro_class_name(entity.student, true), id: entity.student.id }),
                    'iCss': 'fa-users',
                    'aCss': 'link-icon-need-space',
                    'title': entity.student.fullName,
                    'label': entity.student.fullName
                })) }}
            {% endif %}
            {% if entity.studentAccount %}
                {{ ui.renderAttribute('teachers.invoice.studentAccount.label'|trans, ui.link({
                    'path': path('oro_account_view', { entityClass: oro_class_name(entity.studentAccount, true), id: entity.studentAccount.id }),
                    'iCss': 'fa-suitcase',
                    'aCss': 'link-icon-need-space',
                    'title': entity.studentAccount.name,
                    'label': entity.studentAccount.name
                })) }}
            {% endif %}
            {% if entity.studentContact %}
                {{ ui.renderAttribute('teachers.invoice.studentContact.label'|trans, ui.link({
                    'path': path('oro_contact_view', { entityClass: oro_class_name(entity.studentContact, true), id: entity.studentContact.id }),
                    'iCss': 'fa-users',
                    'aCss': 'link-icon-need-space',
                    'title': entity.studentContact.lastName ~ ' ' ~ entity.studentContact.firstName,
                    'label': entity.studentContact.lastName ~ ' ' ~ entity.studentContact.firstName
                })) }}
            {% endif %}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
