@name = teachers_invoice_created
@entityName = Teachers\Bundle\InvoiceBundle\Entity\Invoice
@subject = OCH Invoice #{{ invoice.id }}
@isSystem = 1
@isEditable = 1

<style>
    @media (max-width: 480pt) {
        .wrapper {
            width: 100% !important;
        }
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<table class="wrapper"
       style="border-collapse: collapse; width: 640px; width: 480pt; max-width: 100%; box-sizing: border-box">
    <tr>
        <td style="background-color: #ffffff; padding: 4pt">
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                Hi, {{ invoice.student|oro_format_name }},
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                Thank you for your purchase! Invoice details are below:
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                INVOICE #<br>
                {{ invoice.id }}
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                DATE OF ISSUE<br>
                {{ invoice.createdAt|date('F j, Y, g:i A') }}
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                BILLED TO<br>
                {{ invoice.student|oro_format_name }}<br>
                {{ invoice.student.email }}<br>
            </p>
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; color: #444444"><b>Invoice Summary</b></span>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                COURSE NAME<br>
                {{ assignment.courseName }}<br>
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                SERVICE TYPE<br>
                {{ assignment.term }}<br>
            </p>
            <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                <b>AMOUNT DUE</b><br>
                <b>{{ invoice.amountOwed|oro_format_currency }}</b><br>
            </p>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td style="padding: 5pt 0; background: #2ea63a; width: 140pt; text-align: center">
                        <a style="color: #ffffff; font-size: 11pt; text-transform: uppercase; text-decoration: none; line-height: 1em; font-family: Arial, Helvetica, sans-serif;"
                           href="{{ oro_get_absolute_url('teachers_invoice_view', { id: invoice.id }) }}"
                           target="_blank">
                            VIEW INVOICE DETAILS
                        </a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
