{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.html.twig' %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% set entityClass = 'Teachers\\Bundle\\AssignmentBundle\\Entity\\AssignmentMessage' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName }}
    <% var template = (verb == 'create')
    ? {{ 'teachers.assignment.message.activity_item.created_by'|trans|json_encode|raw }}
    : {{ 'teachers.assignment.message.activity_item.updated_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
    user: owner_url ? '<a class="user" href="' + owner_url + '">' + _.escape(owner) + '</a>' :  '<span class="user">' + _.escape(owner) + '</span>',
    date: '<i class="date">' + createdAt + '</i>',
    editor: editor_url ? '<a class="user" href="' + editor_url + '">' + _.escape(editor) + '</a>' : _.escape(editor),
    editor_date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityShortMessage %}
    <% if (!_.isUndefined(data.statusId) && data.statusId) { %>
    <div class="activity-short-message">
        <% if (data.statusId === 'not_approved') { %>
        <div class="badge badge-pill badge-danger status-danger"><span class="icon-status-danger fa-circle"
                                                                           aria-hidden="true"></span>
            <%- data.statusName %>
        </div>
        <% } else if (data.statusId === 'pending') { %>
        <div class="badge badge-pill badge-tentatively status-tentatively"><span
                    class="icon-status-tentatively fa-circle" aria-hidden="true"></span>
            <%- data.statusName %>
        </div>
        <% } else { %>
        <div class="badge badge-pill badge-enabled status-enabled"><span class="icon-status-enabled fa-circle"
                                                                         aria-hidden="true"></span>
            <%- data.statusName %>
        </div>
        <% } %>
    </div>
    <% } %>
    {{ parent() }}
{% endblock %}

{% block activityActions %}
    {% import 'OroActivityBundle::macros.html.twig' as AC %}

    {% set action %}
        <% if (editable) { %>
        <a href="#" class="dropdown-item action item-edit-button"
           title="{{ 'teachers.assignment.message.update'|trans({'{{ entity }}': entityName}) }}"
           data-action-extra-options="{{ {dialogOptions: {width: 1000}}|json_encode }}">
            <span class="fa-pencil-square-o hide-text"
                  aria-hidden="true">{{ 'teachers.assignment.message.update'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'teachers.assignment.message.update'|trans({'{{ entity }}': entityName}) }}
        </a>
        <% } %>
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        <% if (removable) { %>
        <a href="#" class="dropdown-item action item-remove-button"
           title="{{ 'teachers.assignment.message.delete'|trans({'{{ entity }}': entityName}) }}">
            <span class="fa-trash-o hide-text"
                  aria-hidden="true">{{ 'teachers.assignment.message.delete'|trans({'{{ entity }}': entityName}) }}</span>
            {{ 'teachers.assignment.message.delete'|trans({'{{ entity }}': entityName}) }}
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}
